.landing-header {
    background-color: #000000;
    color: #fff;
    padding: 2vh;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing-header nav {
    display: flex;
    list-style: inherit;
    margin: 0;
}

.landing-header nav a {
    color: #fff;
    text-decoration: none;
    padding: 2vh 1vw;
}
