
.landing-header {
    display: flex;
    flex-direction: row;
    background: rgb(2, 14, 31);
    align-items: center; /* Ensures vertical centering of children */
    z-index: 3;
    width: 100vw;
    height: 15vh; /* Header height */
    padding: 0 1vw; /* Add horizontal padding if needed */
}

.landing-nav {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center; /* This ensures vertical centering of nav items */
    flex-grow: 1; /* Allows the nav to fill available space */
}

.header-logo {
    width: 10vw; /* Logo width */
    height: auto; /* Adjusts height automatically to maintain aspect ratio */
    margin-right: 30vw; /* Pushes the navigation to the end of the header */
}

.nav-link {
    margin: 0 1vw; /* Spacing between links */
    display: flex;
    align-items: center; /* Center items vertically within the link */
}

.landing-nav ul li {
    display: inline-flex; /* Change from height adjustment to flex for better alignment */
    align-items: center; /* Centers the link text vertically */
}

.landing-nav ul li a {
    font-family: 'Sansation', sans-serif;
    font-size: 1vw;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5vw 1vw; /* Adds padding to increase clickable area and aid alignment */
    display: inline-flex; /* Ensures the anchor behaves like a flex item */
    align-items: center; /* Further ensures vertical centering */
    height: 100%; /* Full height of its container */
}
