.cta-section {
    padding: 4rem 0;
    text-align: center;
}

.cta-button {
    background-color: #007bff;
    color: #fff;
    padding: 1rem 2rem;
    margin: 4vh 2vw;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
