

.landing-content {
    background-color: transparent;
    color: #fff;
    text-align: center;
    width: 100vw;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.background-full-screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    filter: brightness(55%);
    height: 250vh;
    width: 100vw;
    overflow: hidden;
    position: fixed; /* Cover the entire viewport */
    top: 0;
    left: 0;
    z-index: -1; /* Ensure it stays as a background */
}

.bg-block {
    width: 100vw;
    height: 250vh;
    background-image: url('../../assets/ai.png'); /* Your image path */
    background-size: cover;
    background-position: center;
}

.flip-horizontal {
    transform: scaleX(-1);
}

.flip-vertical {
    transform: scaleY(-1);
}

.flip-both {
    transform: scaleX(-1) scaleY(-1);
}