

.landing-content {
    background-color: transparent;
    color: #fff;
    text-align: center;
    width: 100vw;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.landing-bg{
    background-image: url(../../assets/ai.png);
    background-size: 200vh;
    height: 2455px;
}


/* ... styles for other sections */
