  .GraphCanvas {
    width: 25% !important;
    height: 300px; /* Set the height of the container */
  }

  .function-tree-container {
    width: 300px; /* Set the width of the container */
    height: 300px; /* Set the height of the container */
    overflow: hidden;
  }