.chat-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/wiki.png);
  background-size: cover;
  padding-bottom: 20vh; 
}

.chat-container.no-background {
  background-color: transparent;
}

.chat-header {
  font-size: 6vh; /* Adjust font size using vh */
  color: white;
  margin-bottom: 4vh; /* Adjust margin using vh */
  padding-bottom: 2vh; /* Adjust padding using vh */
}

.chat-options {
  display: flex;
  justify-content: center;
  gap: 2vh; /* Adjust gap using vh */
}

.chat-option {
  background-color: #000000 !important;
  border: none;
  padding: 2vh; 
  font-size: 2.5vh; /* Adjust font size using vh */
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 2vh;
}

.logo {
  filter:drop-shadow(20px 20px 20px #000000);
}

.transparent-image{
  opacity: 0%;
}

.chat-option:hover {
  transform: scale(1.05);
}

.prompt-form {
  margin-top: 4vh; /* Adjust margin using vh */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-container:hover .rah-hint-wrapper,
.prompt-container:focus-within .rah-hint-wrapper {
  transform: scale(1.1) translateX(2vw);
  transition: ease-in-out 0.3s;
}

.prompt-input {
  padding: 2vh; 
  font-size: 2.5vh; 
  border-radius: 2vh;
  background-color: rgba(255, 255, 255, 0.46);
  backdrop-filter: blur(10px);
  border: 1px solid #242424;
  width: 50vw; 
  max-width: 50vw; 
  margin-bottom: 4vh; 
}

.prompt-input:hover , .prompt-input:focus {
  outline: none;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 0 2px #5cb85c;
  transform: scale(1.1) translateX(2vw);
  transition: ease-in-out 0.3s; 
}



.submit-button {
  padding: 2vh 3vh; /* Adjust padding using vh */
  font-size: 2.5vh; 
  border: none;
  background-color: #5cb85c !important;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 10px;
  

}

.submit-button:hover {
  background-color: #4cae4c !important;
}

.transparent-image {
  opacity: 0%;
}
