.chat-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141d3f;
  transition: background 0.5s ease-in-out;
}

.chat-container.no-background {
  background: transparent;
}

.chat-header {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.chat-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.chat-option {
  background-color: #000000 !important;
  border: none;
  padding: 10px; 
  font-size: 14px; 
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.chat-option:hover {
  transform: scale(1.05);
}

.prompt-form {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-container {
  position: relative;
}

.prompt-input {
  padding: 16px; /* Increased padding */
  font-size: 16px; /* Increased font size */
  border-radius: 8px;
  background-color: rgb(96, 101, 101);
  border: 1px solid #242424;
  width: 100%;
  min-width: 40vw !important;
  margin-bottom: 10px;
}


.submit-button {
  padding: 12px 15px; 
  font-size: 14px; 
  border: none;
  background-color: #5cb85c !important;
  color: white;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.submit-button:hover {
  background-color: #4cae4c !important;
}

.transparent-image {
  opacity: 0%;
}
