.landing-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: rgb(2, 14, 31);
    transition: padding 0.3s ease, background 0.3s ease; /* Ready for future opacity transition */
    padding: 1rem 1vw;
    z-index: 9999;
}

.header-spacer {
    width: 100%;
    transition: height 0.3s ease;
}

.landing-header.compact {
    padding: 0.5rem 1vw; /* Reduced padding */
    background: rgba(3, 15, 42); /* Slightly darker for contrast, added transparency for effect */
    opacity: 1;
}
.header-logo-link{
    padding: 0;
}
.header-logo, .header-logo.compact-logo, .header-logo-link.compact-logo-link {
    transition: transform 0.3s ease; /* Transition applies to both states */
    width: 6vw; /* Adjusted for consistency */
}

.header-logo.compact-logo, .header-logo-link.compact-logo-link {
    transform: scale(0.6); /* Adjust scale for a subtle change */
}

.landing-nav, .nav-link {
    display: flex;
    align-items: center; /* Ensures vertical centering */
}

.landing-nav {
    list-style: none;
    justify-content: flex-end;
    margin-left: auto; /* Corrected to push the nav to the end */
    flex-grow: 1; /* Allows the nav to fill available space */
}

.nav-link a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1vw; /* Standardized font size here */
    padding: 1vh 0.5vw; /* Increased clickable area */
    transition: color 0.2s ease; /* Smooth transition for hover effect */
}

.nav-link a:hover {
    color: #a0a0a0;
}
