/* General styling for the assistant container */
.assistant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../../assets/bg-assistant2.png);
    background-attachment: fixed;
    margin-top: -10vh;
    background-repeat: no-repeat;
    width: 100vw;
    background-size: 100% calc(100% + 10vh); /* Extend the background */
    flex-direction: column;
}

/* Title styling */
.title {
    text-align: center;
    font-size: calc(2vh + 2vw);
    padding-top: 17vh;
    color: #FFFFFF; /* Assuming a light text color for contrast */
}

/* Main container for code review tools */
.codeReviewTool {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10vh 0;
}

/* Left panel for settings */
.leftPanel {
    background-color: #383838;
    padding: 2vh;
    margin-right: 1vw;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #FFFFFF; /* For better readability */
    height: 30vh;
    width: 20vw;
    align-items: center;
}

.settingsPanel .setting {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
}

.setting label {
    flex: 1;
    margin-right: 10px; /* Spacing between label and input */
}

.setting input[type="range"] {
    width: 10vw;
}

/* Styling for the code input form */
.codeInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

.codeInput {
    width: 100%;
    height: 30vh;
    margin-bottom: 2vh;
    padding: 2vh;
    font-size: 2vh;
    border-radius: 8px;
    border: 2px solid #007bff;
}

.getAdvice {
    padding: 1vh 2vw;
    font-size: 2vh;
    background-color: #007bff;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.getAdvice:hover {
    background-color: #0056b3;
}

/* Response container */
.codeResponse {
    background-color: #8ea47f;
    color: #333333;
    padding: 2vh;
    border-radius: 8px;
    margin-top: 2vh;
    height: 30vh;
    width: 60vw;
}

/* Graphs container for visualization */
.graphsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20vw;
    width: 60vw;
    margin-top: 4vh;
}

.graph {
    width: 25vw;
}
