.landing-footer {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    width: 100%;
    padding: 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.footer-section {
    width: calc(25% - 20px); /* Adjust width for 4 columns with margin */
    margin: 0 15px; /* Adjust margin between sections */
    margin-bottom: 20px; /* Adjust margin between rows */
}

.footer-subtitle {
    font-size: 14px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    transition: padding 0.3s;
}

.social-media a, .resources a, .legal li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.resources a {
    display: block; /* Display links as block elements */
    text-decoration: none;
    color: #007bff;
    margin-bottom: 1vh; /* Adjust margin between links */
}

.social-media a {
    display: block; /* Display social media links as block elements */
    text-decoration: none;
    color: #007bff;
    margin-bottom: 1vh; 
}

.contact-details p {
    margin-bottom: 1vh; 
}

.social-media a:hover, .resources a:hover, .legal li a:hover {
    color: #0056b3;
}

.newsletter {
    width: 100%; 
    margin-top: 1vh; 
    padding-bottom: 1vh;
}

.newsletter form {
    display: flex;
    flex-direction: column; /* Display form items in a column */
    width: 100%; /* Ensure the form takes up the full width */
}

.newsletter input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px; /* Adjust margin between input and button */
    width: 100%; /* Make the input box take up the full width */
}

.newsletter button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%; /* Make the button take up the full width */
}


.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #999;
}

.legal {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.legal li {
    margin: 0 10px;
}
