.landing-footer {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 100vw;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
    width: 100%;
    flex-wrap: wrap;
}

.footer-subtitle{
    font-size : 2vw;
    width: 20vw;
}
.newsletter{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.social-media, .contact-info, .resources{
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.social-media a {
    text-decoration: none;
    color: #444;
    display: flex;
    align-items: center;
}

.social-media li a i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.contact-info p {
    line-height: 1.5;
}

.resources a {
    text-decoration: none;
    color: #444;
}

.newsletter form {
    display: flex;
    align-items: center;
    width: 25vw;
}

.newsletter input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 0.5rem;

}

.newsletter button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copyright {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #999;
}

.legal {
    display: flex;
    justify-content: center; /* Center the legal links */
    width: 100%; /* Full width */
    margin-top: 0rem; /* Space from the content above */
}

.legal li {
    display: flex;
    justify-content: center;
    margin: 9 0.5rem;
}

.legal li a {
    text-decoration: none;
    color: #999;
}


/* You can add additional styles for hover effects, different color schemes, etc. */


